hr {
  border: 3px solid skyblue;
  border-radius: 5px;
}
h2 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 30px;
}
h1 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-transform: uppercase;
}
